body {
    background-color: #F5F4E7;
    padding: 25px 25%;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3, #title, #author {
    font-family: "High Tower Text", Calibri, 'Trebuchet MS', sans-serif;
    color: #841020;
}

#author {
    font-size: large;
    color: grey;
    font-weight: lighter;
}

#title {
    font-size: xx-large;
    font-weight: bolder;
}

#names {
    columns: 3;
    text-align: center;
}

#header a {
    text-decoration: none;
}

#nameoptions {
    text-align: center;
}

#currentLanguage {
    text-align: center;
}

#languages {
    border-width: 1px 0px;
    border-color: #b8b6a7;
    border-style: solid;

    padding: 6px;
}

#languages > button, select {
    margin: 0px 3px;

    border: 1px solid #b8b6a7;
    background-color: #f7f7eb;

    transition: .2s background-color;
}

#languages > button:hover, select:hover {
    background-color: #fCfCF1;
}

#languages > button:active {
    background-color: #f2f2e6;
}

#languages > button.selected {
    margin: 0px 3px;

    border: 1px solid #841020;
    background-color: #f7f7eb;
    color: #841020;

    transition: .2s background-color;
}

#languages > button:hover.selected {
    background-color: #fCfCF1;
}

#languages > button:active.selected {
    background-color: #f2f2e6;
}

.langage table, .langage th, .langage td {
    border: 1px solid black;
    text-align: center;
    padding: 4px;
    margin: 0px;
    border-collapse: collapse;
}

.langage .sideways {
    transform: rotate(-90deg);
}

select {
    text-align: center;
}