#body {

}

.content {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.name {
  text-transform: uppercase;
  font-family: "Arial", "Lucida Console";
  font-size: 8vh;
}

.model {
  height: 75%;
  width: auto;
}
